body {
	margin: 0px;
	font-size: 1.1em;
	text-align: center;
	background-color: #67a6e4;

	
}


footer, nav {
	padding: 55px; 
	text-align: center;
}

nav ul li {
	display: inline;
    margin-right: 10px;
}

a {
	color: 	#000000;
	font-weight: bold;
	text-align: center;
}

h1 {
	margin: 35px;
	text-align: center;
	color: 	#000000;
	
}


#banner-text {
	font-weight: bold;
	padding: 200px 100px;
	text-align: left;
}
